
# Ports
APIGATEWAY_PORT=5000
SCHOOL_PORT=3001
REQUESTDEMO_PORT=3002
COMMON_PORT=3003
FAQ_PORT=3004
ME_PORT=4000
AUTH_PORT=4001
MANAGEMENT_STUDENT_PORT=6001
MANAGEMENT_PARENT_PORT=6002
MANAGEMENT_SUBJECT_PORT=6003
MANAGEMENT_CLASSES_PORT=6004
MANAGEMENT_SECTIONS_PORT=6005
MANAGEMENT_TEACHER_PORT=6006


# End-points
ENDPOINT_URL=http://localhost
FRONTEND_URL=http://localhost:3000
REDIS_HOST=localhost
REDIS_PORT=6379

SALT_ROUNDS=14

JWT_ACCESS_SECRET=thisisasecreykeyofeduspherebackend
JWT_REFRESH_SECRET=anotherStrongSecretForRefreshToken
INTERNAL_SERVICE_SECRET=super-long-random-secret

JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

RESEND_API_KEY=re_7HotVkk9_6ZqCMkYKE5TwU6LCq1EBmZ3a

DATABASE_URL="postgresql://<usename>:<password>@localhost:5432/unidesk?schema=unidesk"
