
# Ports
APIGATEWAYPORT=3001
AUTHPORT=3002
REQUESTDEMOPORT=3003


# End-points
APIGATEWAYENDPOINT=http://localhost:3001
AUTHENDPOINT=http://localhost:3002
REQUESTDEMOENDPOINT=http://localhost:3003

DATABASE_URL="postgresql://<usename>:<password>@localhost:5432/unidesk?schema=unidesk"
