
# Ports
APIGATEWAYPORT=3001
AUTHPORT=3002
REQUESTDEMOPORT=3003
SCHOOLPORT=3004


# End-points
ENDPOINTURL=http://localhost

SALT_ROUNDS=14

RESEND_API_KEY=re_7HotVkk9_6ZqCMkYKE5TwU6LCq1EBmZ3a

DATABASE_URL="postgresql://<usename>:<password>@localhost:5432/unidesk?schema=unidesk"
